body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo img {
    width: 300px;
    padding-left: 50px;
}
/*-------------------------------navbar-------------------------------------------------*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent; /* Make the background transparent */
    padding: 30px 5%;
    
}

.menu-icon {
    display: none; /* Hide the menu icon by default */
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin: 0 15px; /* Adjust margin as needed */
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #fb5958;
}

/* -------------------------------------------hero section-------------------------------- */
.hero {
    text-align: center;
    padding: 20px 5%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('Images/background image.jpg');
    background-size: cover;
    color: #fff;
    position: relative;
    height: 100vh;
}


.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
    padding-top: 150px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
/* ------------------------------------search bar container------------------- */
.search-bar {
    display: flex;
    align-items: center;
    max-width: 280px;
    margin: 0 auto 0;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #272727;
    margin-right: 10px;
    color: #fff;
}

.search-bar a.btn {
    background-color: #e50914;
    color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.search-bar a.btn:hover {
    background-color: #d1080d;
}

/*--------------------------------------------hero section 2--------------------------------------*/
.hero2 {
    text-align: center;
    background-size: cover;
    color: #fff;
    position: relative;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.hero2 h1 {
    font-size: 2.5rem;
    color: white;
    padding-top: 10px;
}

.hero2 p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.hero2 img{
    width: 60%;
    
}

.search-bar1 a.btn {
    background-color: #e50914;
    color: #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: center;
}

.search-bar1 a.btn:hover {
    background-color: #d1080d;
}

/*-----------------------------------------movie section-------------------------------------*/
.movie-container {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    max-width: 100%; 
}

.movie {
    flex: 0 0 auto;
    margin-right: 20px;
    max-width: 200px; /* Set a maximum width for the movies */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: inline-block;
}

.movie img {
    width: 100%;
    max-width: 200px;
    border-radius: 10px;
}

.prev-btn, .next-btn {
    background-color: #e50914;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    
    cursor: pointer;
}

.prev-btn:hover, .next-btn:hover {
    background-color: #d1080d;
}

/*------------------------------------------------footer--------------------------*/
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #111;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .logo img {
        width: 220px;
        padding-left: 5px;
    }
        nav {
            padding-left: 20px;
            margin: 0;
        }

        .menu-icon {
            display: block; 
            cursor: pointer;
            padding-right: 100px;
        }

        .nav-links {
            display: none; 
            position: absolute;
            top: 50px; 
            left: 0;
            background-color: #111; 
            width: 100%;
            flex-direction: column;
            z-index: 1;
        }
        .nav-links.active {
            display: flex; 
        }

        .menu-icon.active .bar:first-child {
            transform: rotate(-45deg) translate(-5px, 6px);
        }
    
        .menu-icon.active .bar:nth-child(2) {
            opacity: 0;
        }
    
        .menu-icon.active .bar:last-child {
            transform: rotate(45deg) translate(-5px, -6px);
        }

        .nav-links {
            text-decoration: none;
            color: #fff;
            font-weight: 600;
            transition: 0.3s;
            margin: 10px 0;
            padding: 50px 0;
            text-align: center; 
        } 

        .hero {
            height: 65vh;
        }
        .hero h1 {
            font-size: 1.8rem;
            margin-bottom: 20px;
            color: white;
            padding-top: 180px;
        }
        
        .hero p {
            font-size: 1.2rem;
            margin-bottom: 20px;
        }
        
    footer {
        padding: 10px 0 0 0;
    }
    }